// Quicksand weights: 300, 400, 700
@mixin quicksand($weight, $size) {
	font-weight: $weight;
	font-size: $size;
	font-family: 'Quicksand', sans-serif;
}

$green-pale: #5EEFAA;
$green-bright: #13A538;
$green-brighter: #0FD980;
$green-main: #219E76; 
$green-darker: #5D947C;
$green-darkest: #688677;
$blue-dark: #286090;
$blue-bright: #0B7ED3;
$grey-dark: #282A28;

html { 
	font-size: 62.5%; 
} 

body {
	background-color: $green-brighter;
	/* Margin to make sticky footer */
	margin-bottom: 50px;
	margin-top: 50px;
	
}

.row {
  margin: 0;
}

.blue-dark {
	background-color: $blue-dark;
}

.green-darker {
	background-color: $green-darker;
}

.green-bright {
	background-color: $green-bright;
}

.fullwidth {
	width: 100%;
}

.no-border{
	border-style: none; 
}

.button-text-style {
	@include quicksand(700, 2.5rem);
	margin: 10px 0;
}

.btn {
	-webkit-transition: background-color 500ms ease-out 0.2s;
    -moz-transition: background-color 500ms ease-out 0.2s;
    -o-transition: background-color 500ms ease-out 0.2s;
    transition: background-color 500ms ease-out 0.2s;
}

.btn:hover {
	background-color: $green-darkest;
}


.navbar-brand {
	@include quicksand(700, 2.5rem);

}

.homepage-info h1 {
	@include quicksand(400, 4rem);
	text-align: center;
	padding: 20px 5%;
}

.homepage-info p {
	@include quicksand(400, 2.5rem);
	text-align: center;
	padding: 0 5% 20px 5%;
}

.registration-email-password-wrapper {
  background-color: $green-pale;
  padding: 10px;
  margin-bottom: 20px;
  @include quicksand(400, 2rem);
}

.registration-developer-wrapper {
  background-color: $green-pale;
  padding: 10px;
  margin-bottom: 20px;
  @include quicksand(400, 2rem);
    button {
     @include quicksand(700, 1.8rem); 
    }
}

.list-container {
  background-color: $green-pale;
  padding-top: 10px;
    label {
      @include quicksand(700, 2rem);
      padding-left: 5px;
        p {
          display: inline-block;
          padding-left: 5px;
    }
  }
}

.miniprofile-wrapper {
  background-color: $green-pale;
  padding: 10px;
  margin-bottom: 20px;
    button {
      margin-top: 10px;
    }
    p:first-of-type {
      @include quicksand(700, 2.5rem);
    }
    p {
      @include quicksand(700, 2rem);
    }
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here and do the same in the body selector */
  height: 50px;
  background-color: #f5f5f5;
  padding-top: 10px;
}

footer p {
	@include quicksand(400, 1.5rem);

}

footer a {
	color: $green-darkest;
	@include quicksand(700, 1.5rem);
}

/* ############# HOVER EFFECT ################ */
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
