// Quicksand weights: 300, 400, 700
@mixin quicksand($weight, $size) {
	font-weight: $weight;
	font-size: $size;
	font-family: 'Quicksand', sans-serif;
}

$green-pale: #5EEFAA;
$green-bright: #13A538;
$green-brighter: #0FD980;
$green-main: #219E76; 
$green-darker: #5D947C;
$green-darkest: #688677;
$blue-dark: #286090;
$blue-active-link: #042B62;
$blue-bright: #0B7ED3;
$grey-dark: #282A28;

html { 
	font-size: 62.5%; 
} 

body {
	background-color: $green-brighter;
	/* Margin to make sticky footer */
	margin-bottom: 50px;
	margin-top: 50px;
	
}

.row {
  margin: 0;
}

.target {
  margin-top: 30px;
}

/* ###### HELPERS ####### */
.blue-dark {
	background-color: $blue-dark;
}

.green-darker {
	background-color: $green-darker;
}

.green-bright {
	background-color: $green-bright;
}

.active-link {
  background-color: $blue-active-link;
}

.margin-top {
  margin-top: 10px; 
}

.padding-right {
  padding-right: 5px;
}

.padding-left {
  padding-left: 10px;
}

.fullwidth {
	width: 100%;
}

.no-border {
	border-style: none; 
}

.border {
  border: solid black 2px;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

/* ###### BUTTONS ####### */
.button-text-style {
	@include quicksand(700, 2.5rem);
	margin: 10px 0;
}

.btn {
	-webkit-transition: background-color 500ms ease-out 0.2s;
    -moz-transition: background-color 500ms ease-out 0.2s;
    -o-transition: background-color 500ms ease-out 0.2s;
    transition: background-color 500ms ease-out 0.2s;
}

.btn:hover {
	background-color: $green-darkest;
}

/* ###### NAVIGATION ####### */
.navbar-brand {
	@include quicksand(700, 2.5rem);

}

/* ###### HOMEPAGE ####### */
.homepage-info h1 {
	@include quicksand(400, 4rem);
	text-align: center;
	padding: 20px 5% 10px 5%;
}

.homepage-info p {
	@include quicksand(400, 2.2rem);
	text-align: center;
	padding: 0 5% 20px 5%;
}

/* ###### REGISTRATION ####### */
.registration-email-password-wrapper {
  background-color: $green-pale;
  width: 80%;
  padding: 10px;
  margin: 30px auto 20px auto;
  @include quicksand(400, 2rem);
}



.registration-developer-wrapper {
  background-color: $green-pale;
  padding: 10px;
  margin-bottom: 20px;
  @include quicksand(400, 2rem);
    button {
     @include quicksand(700, 1.8rem); 
    }
    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
    }   
}

.file-input {
  background-color: white;
  border: solid 1px #CCC;
}

textarea.form-control {
   height: 200px;
}

.list-container {
  background-color: $green-brighter;
  padding-top: 10px;
  margin-bottom: 10px;
    label {
      @include quicksand(700, 2rem);
      padding-left: 5px;
      padding-bottom: 0;
        p {
          display: inline-block;
          padding-left: 5px;
    }
  }
}

/* ###### MINIPROFILE ####### */
.miniprofile-wrapper {
  background-color: $green-brighter;
  padding: 10px;
  margin-bottom: 20px;
    button {
      margin-top: 10px;
    }
    p:first-of-type {
      @include quicksand(700, 2.5rem);
    }
    p {
      @include quicksand(700, 2rem);
    }
}
/* ###### FULL PROFILE ####### */
.basic-details-wrapper {
  width: 100%;
  height: 175px;
  background-color: white;
  margin-bottom: 20px;
  p {
    padding-left: 10px;
    @include quicksand(700, 2rem);
  }
}

.full-profile-skills-list {
  background-color: white;
  
  margin-bottom: 20px;
    
    p:first-of-type {
      @include quicksand(700, 2.5rem);
      padding-left: 5px;
    }
    p {
      @include quicksand(700, 2rem);
    }
}

.righthand-side-wrapper {
  background-color: white;
  padding: 10px 0 0 0;
    ul {
      padding: 0;
      li {
        background-color: $blue-bright;
        list-style-type: none;
        margin-bottom: 15px;
        i {
          padding: 0 10px 0 10px;
          color: white;
        }
        a {
          @include quicksand(700, 2.3rem);
          color: white;
          text-decoration: none;
        }
    }
  }
  .cv {
    p {
      @include quicksand(700, 2.3rem);
      text-align: center;
      color: $blue-bright;
    }
    .cv-icon {
      text-align: center;

    }
  }
}

.about-me-wrapper {
  background-color: white;
  p {
    @include quicksand(400, 2rem);
  }
}

/* ###### EMPLOYER PANEL ####### */
#candidate-link {
  background-color: white;
  p {
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 5px 0 5px 0;
  }
  p:nth-child(even){
    float: right;
  }
}

/* ####### PUBLIC PROFILE ######## */

.skills-check {
  label {
    padding-bottom: 0;
}
}


/* ###### CONTACT US ###### */


.well {
  border: none;
  background-color: $green-pale;
}

.contact{
  .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
  }
  .bigicon {
  font-size: 35px;
  color: #36A0FF;
  }
}

/* ###### FOOTER ####### */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here and do the same in the body selector */
  height: 50px;
  background-color: #f5f5f5;
  padding-top: 10px;
}

footer p {
	@include quicksand(400, 1.5rem);

}

footer a {
	color: $green-darkest;
	@include quicksand(700, 1.5rem);
}

/* ############# HOVER EFFECT ################ */
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


